body{
	background-image: url("../img/combat.jpg");
	background-size: cover;
	margin-left: -200px;
	margin-top: -100px;

}

#bandeausaison4 h1{
	color: white;
	text-align: left;
	font-weight: 700;
	font-size: 52px;
	margin-bottom: 20px;
	font-family: Arial;
	text-transform: uppercase;
	padding-top: 300px;
}

.annonce{
	background: rgba(159,22,0,.6);
    padding: 10px;
    color: yellow;
    border:1px solid red;

}

.col-6{
	color: white;

}

.découvrir{
	color: white;
}

.ensavoir{
	background: rgba(0,0,0,.6);
    padding: 10px;
    border:1px solid yellow;
    margin-left: 10px;
    color: yellow;
}
